<meta charset="utf-8">
<title>{{page.subject}}: {{page.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--Brief page description:-->
<meta name="description" content="{{page.description}}">
<!--Name(s) of primary authors-->
<meta name="author" content="{{page.authors}}">

<!--Styles-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<link href="{{ site.baseurl }}/assets/css/prettify.css" rel="stylesheet">

<!--Custom styles-->
<link href="{{ site.baseurl }}/assets/css/turnerboyd.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="//use.typekit.net/kff2bbb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

