<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-right">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main_navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="fa fa-home"></span> Turner Boyd</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main_navbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Attorneys <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="menu-subs"><a href="#">Partners</a></li>
            <li><a href="{{ site.baseurl }}/attorneys/boyd.html">Karen Boyd</a></li>
            <li><a href="{{ site.baseurl }}/attorneys/masur.html">Joshua Masur</a></li>
            <li><a href="{{ site.baseurl }}/attorneys/smith.html">Matthew Smith</a></li>
            <li><a href="{{ site.baseurl }}/attorneys/turner.html">Julie Turner</a></li>
            <li class="divider"></li>
            <li class="menu-subs"><a href="#">Counsel</a></li>
            <li><a href="{{ site.baseurl }}/attorneys/bandyopadhyay.html">Esha Bandyopadhyay</a></li>
            <li><a href="{{ site.baseurl }}/attorneys/seraphine.html">Jennifer Seraphine</a></li>
            <li class="divider"></li>
            <li class="menu-subs"><a href="#">Associates</a></li>
            <li><a href="{{ site.baseurl }}/attorneys/beard.html">James Beard</a></li>
            <li><a href="{{ site.baseurl }}/attorneys/gu.html">Zhuanjia Gu</a></li>
            <li><a href="{{ site.baseurl }}/attorneys/kent.html">Robert Kent</a></li>
            <li><a href="{{ site.baseurl }}/attorneys/potts.html">Heather Potts</a></li>
            <li><a href="{{ site.baseurl }}/attorneys/wai.html">Louis Wai</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Practice Areas <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.baseurl }}/practices/ip.html">IP Litigation</a></li>
            <li><a href="{{ site.baseurl }}/practices/mediation.html">Mediation</a></li>
            <li><a href="{{ site.baseurl }}/practices/first.html">First Amendment</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/cases/">Cases</a></li>
        <li class="visible-md-inline-block visible-lg-inline-block"><a href="{{ site.baseurl }}/news/">News</a></li>
        <li class="visible-md-inline-block visible-lg-inline-block"><a href="{{ site.baseurl }}/recruit/">Recruiting</a></li>
        <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>