.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}

/* Temporary Fix */
.jumboGreen {
  background-color: #366d3e;
  color: white;
  padding: 0px;
  margin-bottom: 30px;
  background-image: url("/assets/img/backdrop_clean.jpg");
  min-height: 250px; }

.mainheading {
  font: 600 64px "proxima-nova", "Helvetica Neue Roman", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 2px #969696;
  vertical-align: bottom; }

.navbar-inverse .navbar-brand, .navbar-default .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: #90a6d8; }

li.menu-subs > a {
  font-weight: bold;
  color: #365499; }

.caption-tight {
  text-align: left;
  font-size: 10px; }

.nav-tabs {
  margin-bottom: 15px;
  margin-top: 15px; 
}