---
---

@import "bootstrap/variables";

$green: #366D3E;
$onGreen: #fff;
$blue: #365499;
$blue1: 54;
$blue2: 84;
$blue3: 153;

$printfont: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

$displayfont: "museo-slab";
$bodyfont: "proxima-nova","Helvetica Neue Roman", Helvetica, Arial, sans-serif;

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}


body {
  font-family: $bodyfont;
  font-size: 14pt;
  font-weight: 200;
}

body.navbar {
  padding-top: 50px;
}

dt, dd {
  margin-bottom: 10px;
}

aside dl, aside h3 {
  margin: 0px;
}

aside h3 {
  line-height: 30px;
  margin-bottom: 10px;
}


.hero-unit {
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.ruby .hero-unit h1, .ruby .hero-unit p {
  color: #fff;
}

.center {
  text-align: center;
}

.not-bold h2 {
  font-weight: 400;
}

#footer, #page-footer, footer, article footer {
  margin-top: 20px;
  font-size: 10pt;
}

ol {
  list-style-type: decimal;
}

aside {
  padding: 10px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

/* Show Examples */

/* Base class */
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* Echo out a label for the example */
.bs-docs-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

/* Remove spacing between an example and it's code */
.bs-docs-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

.command-line {
  position: relative;
  margin: 15px 0;
  padding: 19px 14px;
  background-color: #300A24;
  color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.bs-docs-example + .command-line {
  margin-top: -20px;
  padding-top: 15px;
}

.prompt {
  color:#10989A;
}

.prompt-end {
  color:#8AE234;
  font-weight:bold;
}

/* code line highlight */
pre .success {
  background-color: #dff0d8;
}

pre .error {
  background-color: #f2dede;
}

pre .info {
  background-color: #d9edf7;
}

/* Simlates the styling of the <pre> tag */
.codeExample{
  background: whiteSmoke;
  padding:10px;
  border: 1px solid #ccc;
}

/* Update to the side menu */

.bs-docs-sidenav {
  background-color: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  margin: 20px 0 0;
  padding: 0;
}
.bs-docs-sidenav > li > a {
  border: 1px solid #E5E5E5;
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
}
.bs-docs-sidenav > li:first-child > a {
  border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  border: 0 none;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  padding: 9px 15px;
  position: relative;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
}
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-right: -6px;
  margin-top: 2px;
  opacity: 0.25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #F5F5F5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: 0.5;
}
.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url("../img/glyphicons-halflings-white.png");
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  bottom: 270px;
  position: absolute;
  top: auto;
}


/* *** Temporary - Remove later */
/* Makes an ugly highlight on an item to remind you to check something later */
.checkThisLater {
  padding: 2px;
  background:yellow;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid red;
}

.btn { /* cm: to keep following text from butting up  against button */
  margin-bottom: 12px;
}

.alert p:last-child, .alert ol:last-child {
  margin-bottom: 0px;
}

.jumboGreen {
  background-color: $green;
  color: $onGreen;
  padding: 0px;
  margin-bottom: 30px;
  // background-image: url("/assets/img/backdrop_clean.jpg");
  min-height: 250px;
}

.jumboLightGreen {
  background-color: lighten($green,20%);
  color: $onGreen;
  padding: 0px;
  margin-bottom: 30px;
  // background-image: url("/assets/img/backdrop_clean.jpg");
  min-height: 250px;
}

.jumboCover {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba($blue1,$blue2,$blue3,0.9), 
      rgba($blue1,$blue2,$blue3,0.5)
    ),
    /* bottom, image */
    url(/assets/img/variant3/usptobw.png) no-repeat center center fixed;
  min-height: 100%;
  color: $onGreen;
}


.mainheading {
  font: 600 64px $bodyfont;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1); 
  // margin: 0px;
  // padding: 0px;
  vertical-align: bottom;
}

.navbar-inverse .navbar-brand, .navbar-default .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: lighten($blue, 50%);
}

.tb-white {
  background-color: white;
}

.header-brand {
 font-family: "museo-slab";
 font-weight: 900;
 font-size: 24pt;
}

.navbar-brand {
 font-family: "museo-slab";
 font-weight: 900;
 font-size: 18pt;
}

.tb-titlefont {
 font-family: "museo-slab";
 font-weight: 900;
}

.tb-turner {
  color: $blue;
}

.tb-boyd {
  color: $green;
}

.tb-dark-shadow {
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
}

li.menu-subs > a {
  font-weight: bold;
  color: $blue;
}

.caption-tight {
  text-align: left;
  font-size: 10px;
}

.nav-tabs {
  margin-bottom: 15px;
  margin-top: 15px;
}

.tb-svc-rollover {
  color: black;
  background-color: white;
}

.tb-svc-rollover:hover {
  color: white;
  background-color: $green;
}

.tb-nf-wrap {
  color: white;
  background-color: $green;
  height: 40px;
}

.tb-nf-bracket {
  display: table; 
}

.tb-nf-scroll {
  display: table-row;
}

.tb-nf-head {
  @include vertical-align;
  font-weight: 700;
  display: table-cell;
}

.tb-nf-body {
  @include vertical-align;
  display: table-cell;
}

.tb-svc-rollover:hover .tb-svc-rollover-stack {
  color: $green;
}

.tb-case-block {
  min-height: 220px;
}

.tb-front-caption {
  background-color: rgba(255, 255, 255, 0.4);
  text-align: right;
  color: darken($blue, 20%);
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

.tb-btn, .tb-btn:hover {
  border-color: darken($blue, 40%);
  background-color: lighten($blue, 20%);
  color: #fff;
}

.tb-front-caption h1 {
  font-weight: 700;
}

.tb-front-block {
  margin-top: 30px;
  margin-bottom: 30px;
}

#newsfeed ul {
  list-style-type: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (max-width: $screen-xs-max) { 
  .truncate {
   max-width: ($screen-xs-max - ($screen-xs-min / 6));
 }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
  .truncate {
    min-width: $screen-sm-min - ($screen-sm-min / 5);
    max-width: $screen-sm-max - ($screen-sm-max / 5);
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
  .truncate {
    min-width: $screen-md-min - ($screen-sm-min / 5);
    max-width: $screen-md-max - ($screen-sm-max / 5);
  }
  .tb-front-caption h1 {
    font-size: 36px;
  }
  .tb-front-caption p {
    font-size: 12pt;
  }
}
@media (min-width: $screen-lg-min) { 
  .truncate {
    min-width: $screen-lg-min - ($screen-lg-min / 6);
  }
  .tb-front-caption h1 {
    font-size: 48px;
  }
  .tb-front-caption p {
    font-size: inherit;
  }
}

.tb-home-header {
  background-color: $gray-lighter;
  font-weight: 700;
}

.tb-home-header-var3 {
  background-color: $gray;
  font-weight: 700;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tb-home-header-var3 h2, .tb-home-header-var3 h4 {
  margin: 0px;
  padding: 0px;
}

.tb-home-header-btn {
  background-color: $gray-lighter;
  font-weight: 500;
  color: $gray;
  vertical-align: middle;
  text-align: center;
  height: auto;
  padding: 10px;
  z-index: 90;
}
