<!DOCTYPE html>
<html lang="en">
<head>
  <title>Turner Boyd: {{page.title}}</title>
  {% include html-head.html %}
</head>

<body class="navbar">
  {% capture lawyer %}{{ page.firstName }} {% if page.middleInitial %}{{ page.middleInitial }} {% endif %}{{ page.lastName }}{% endcapture %}

  {% include navbar.html %}

  <div class="container">

    <div class="row-fluid">

      <div class="col-md-8 col-md-push-4">

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">

            <h1 class="tk-museo-slab">
              {{ page.firstName }}
              {% if page.middleInitial %}
              {{ page.middleInitial }}
              {% endif %}
              {{ page.lastName }}
            </h1>
            {{ site.data.cases[1] }}
            <div id="page_position">{{ page.title }}</div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <h6 id="page_email" class="small" style="text-align: right;">{{ page.lastName | downcase }}@turnerboyd.com <span class="fa fa-envelope-square"></span></h6>
            <h6 id="page_phone" class="small" style="text-align: right;">{{ page.phone }} <span class="fa fa-phone-square"></span></h6>
            <h6 id="page_vcf" class="small" style="text-align: right;"><a href="http://www.turnerboyd.com/VCF/{{ page.lastName }}.vcf">vCard</a> <span class="fa fa-download"></span></h6>
            {% if page.linkedin %}
            <h6 id="page_li" class="small" style="text-align: right;"><a href="http://{{ page.linkedin }}">LinkedIn Profile</a> <span class="fa fa-linkedin-square"></span></h6>
            {% endif %}
          </div>
        </div>
        <!-- Add the extra clearfix for only the required viewport -->
        <div class="clearfix visible-md-block visible-lg-block"></div>
        <div class="row-fluid">

          <ul class="nav nav-tabs" role="tablist" id="attorneyTabs">
            <li class="active"><a href="#bio" role="tab" data-toggle="tab">Profile</a></li>
            {% if page.news %}
            <li><a href="#news" role="tab" data-toggle="tab">News</a></li>
            {% endif %}
            {% if site.data.cases[1] contains page.lastName %}
            <li><a href="#cases" role="tab" data-toggle="tab">Cases</a></li>
            {% endif %}
            {% if page.publications %}
            <li><a href="#publications" role="tab" data-toggle="tab">Publications</a></li>
            {% endif %}
            {% if page.presentations %}
            <li><a href="#presentations" role="tab" data-toggle="tab">Presentations</a></li>
            {% endif %}
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade in active" id="bio">{{ content }}</div>
            {% if page.news %}
            <div class="tab-pane fade" id="news">{{ page.news | markdownify }}</div>
            {% endif %}
            {% if site.data.cases[1] contains page.lastName %}
            <div class="tab-pane fade" id="cases">
              {% for rep_hash in site.data.cases %}
              {% assign rep = rep_hash[1] %}
              {% if rep.attorney == lawyer %}
              <a href="{{ site.baseurl }}/attorneys/{{ rep.link }}.html">
                {{ rep.attorney }}
              </a>
              <table class="table">
                {% for case in rep.representations %}
                <tr>
                  <td>
                    {{ case.client }}
                  </td>
                  <td>
                    {{ case.case }}
                  </td>
                </tr>
                {% endfor %}
              </table>
              {% endif %}
              {% endfor %}


              {% endif %}
              {% if page.publications %}
              <div class="tab-pane fade" id="publications">
                {{ page.publications | markdownify }}
              </div>
              {% endif %}
              {% if page.presentations %}
              <div class="tab-pane fade" id="presentations">{{ page.presentations | markdownify }}</div>
              {% endif %}
            </div>

          </div>

        </div>

        <div class="col-md-4 col-md-pull-8">

          <div id="attorney-photo" class="carousel slide hidden-xs hidden-sm" data-ride="carousel" data-interval="5000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#attorney-photo" data-slide-to="0" class="active"></li>
              <li data-target="#attorney-photo" data-slide-to="1"></li>
              <li data-target="#attorney-photo" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
               <img src="{{ site.baseurl }}/assets/img/attorneys/{{ page.lastName | downcase }}/{{ page.lastName | downcase }}1.jpg" class="img-responsive">
             </div>
             <div class="item">
              <img src="{{ site.baseurl }}/assets/img/attorneys/{{ page.lastName | downcase }}/{{ page.lastName | downcase }}2.jpg" class="img-responsive">
            </div>
            <div class="item">
              <img src="{{ site.baseurl }}/assets/img/attorneys/{{ page.lastName | downcase }}/{{ page.lastName | downcase }}3.jpg" class="img-responsive">
            </div>
          </div>

          <!-- Controls -->
        <!--
        <a class="left carousel-control" href="#attorney-photo" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#attorney-photo" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      -->
    </div>

    {% if page.education %}
    <h3>Education</h3>
    <div class="small">
      {{ page.education | markdownify }}
    </div>
    {% endif %}

    {% if page.admissions %}
    <h3>Admissions</h3>
    <div class="small">
      {{ page.admissions | markdownify }}
    </div>
    {% endif %}

  </div>
</div><!--/.row-fluid -->

</div><!--/.container-->

{% include footer.html %}

{% include javascript.html %}

</body>
</html>