<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page.subject}}: {{page.title}}</title>
  {% include html-head.html %}
</head>

<body class="navbar">

  {% include navbar-home.html %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron jumboGreen">
    <div class="container">
     <div class="col-md-12">
      <h1 class="mainheading">{{ page.subject }}</h1>
    </div>
  </div>
</div>

<div class="container">

  <div class="row-fluid">

    {% include alert.html %}

  </div><!--/.row-fluid -->

  <div class="row-fluid">

    <hr>

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Case Study</h3></div>
          <div class="panel-body">
            {{ page.column1 }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Publication</h3></div>
          <div class="panel-body">
            {{ page.column2 }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Attorney</h3></div>
          <div class="panel-body">
            {{ page.column3 }}
          </div>
        </div>
      </div>
    </div>

  </div><!--/.row-fluid -->

</div><!--/.container-->

{% include footer.html %}

{% include javascript.html %}

</body>
</html>