<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page.subject}}: {{page.title}}</title>
  {% include html-head.html %}
</head>

<body class="">

  <div class="jumbotron jumboCover">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- <h1 class="tb-titlefont tb-dark-shadow"><span class="tb-turner">Turner</span> <span class="tb-boyd">Boyd</span></h1> -->
          <h1 class="tb-titlefont">Turner Boyd</h1>
          <p>
            A firm built on one simple proposition:<br>
            provide the expertise and quality of a large firm with the personalized service and value of a small firm.
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <a class="" href="/casestudies/index.html">
    <div class="row tb-home-header-var3">
      <div class="col-lg-12">
        <h4>Featured Case Study</h4>
        <h2 class="tb-titlefont">ASUS International</h2>
      </div>
      <div class="tb-home-header-btn">
        <p>Learn more</p>
      </div>
    </div></a>
    <div class="row">
      <div class="col-lg-12">
        <p>
          A firm built on one simple proposition:<br>
          provide the expertise and quality of a large firm with the personalized service and value of a small firm.
        </p>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="tb-titlefont">Turner Boyd</h1>
          <p>
            A firm built on one simple proposition:<br>
            provide the expertise and quality of a large firm with the personalized service and value of a small firm.
          </p>

        </div>
      </div>
    </div>



    {% include footer.html %}

    {% include javascript.html %}

  </body>
  </html>